.contact > form {
  display: flex;
  flex-direction: column;
}

.contact > form > input[type=text], 
.contact > form > textarea {
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.contact > form > textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 4rem;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer > p > a {
  text-decoration: none;
  color: #4377e0;
}

.footer > p > a:hover {
  text-decoration: underline;
}

.footer > input[type=submit]:hover {
  background-color: #5889ec;
}

.required {
  color: red;
}