/* @tailwind base;
@tailwind components;
@tailwind utilities; */

html, body {
  margin: auto;
  max-width: 45rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
}

p {
  color: rgb(144, 144, 144);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
