/* @tailwind base;
@tailwind components;
@tailwind utilities; */

html, body {
  margin: auto;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

body {
  background-image: url("/images/background.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: fixed;
  -webkit-background-attachment: fixed;
}

@media screen and (max-width: 450px) {
  body {
    background-position-x: -15vw;
  }
}

header > div, main, footer {
  margin: auto;
  max-width: 45rem;
  padding: 0 1.5rem;
}

p {
  color: rgb(144, 144, 144);
}

button,
a {
 -webkit-tap-highlight-color: transparent;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: dark;
  }
}

