#page-header {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    height: 5rem;
}

#page-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.5rem;
}

.page-navbar-link {
    text-decoration: none;
}