#about-me-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 2rem;
}

#profile-pic {
  object-fit: contain;
  height: 7.5rem;
  width: 7.5rem;
  border-radius: 9999px;
  border: 4px solid rgb(70, 70, 70);
  justify-self: center;
}

#profile-name {
  margin-block-end: 0;
}

#profile-career {
  margin-block-start: 0;
}

#profile-desc {
  color: gray;
}
