@value medium-screen-max-width from './constant.css';

.portfolio-list {
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    grid-auto-rows: 1fr;
    grid-gap: 2rem;
}

@media screen and (max-width: medium-screen-max-width) {
    .portfolio-list {
        display: grid;
        grid-template-columns: repeat(1,minmax(0,1fr));
        grid-auto-rows: 1fr;
        grid-gap: 2rem;
    }
}

.placeholder {
    background-color: rgb(35, 35, 35);
    border-radius: 7.5px;
}

.no-result {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 63vh;
    background-color: rgb(35, 35, 35);
    border-radius: 1rem;
}

.no-result > :nth-child(3) {   
    font-size: 4rem;
}