.scrolling-icons-container {
  padding: 1rem 0;
  overflow: hidden;
}

.scrolling-icons {
  width: max-content;
  display: flex;
  flex-direction: row;
  gap: 0.50rem;
  padding: 1rem 0;
  flex-wrap: nowrap;
  animation: var(--direction) var(--speed) linear infinite;
}
 
.scrolling-icons > div {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.25rem;
  border-radius: 0.25rem;
  padding: 0.50rem 0.50rem;
  background-color: rgb(46, 46, 46);
}

.scrolling-icons > div > span {
 font-weight: 500;
 font-size: 0.85rem;
 white-space: nowrap;
}

.scrolling-icons-container:hover .scrolling-icons {
  animation-play-state: paused;
}