@value small-screen-max-width, medium-screen-max-width from './constant.css';

.social-icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: max-content;
  width: max-content;
  gap: 1rem;
  align-self: center;
  justify-self: center;
}

@media screen and (max-width: medium-screen-max-width) {
  .social-icons {
    gap: 2rem;
  }

  @media screen and (max-width: small-screen-max-width) {
    .social-icons {
      gap: 1.5rem;
    }
  }
}


.clickable {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.15rem;
  text-decoration: none;
  font-size: 0.70rem;
  text-align: center;
  color: white;
}

.clickable:hover {
  scale: 1.05;
  color: hsl(221, 83%, 64%);
  font-weight: bold;
  cursor: pointer;
}

